@import '../../sass/variable';

.scoreBar{
    background-color: $color__hidden__side;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    width: 90rem;
    padding: 2rem;
    font-family: Helvetica, sans-serif;
    

    &__wins{
        font-size: 3rem;
        color: rgba($color__fire,.8);
    }

    &__title{
        font-size: 3.5rem;
        color: $color__fire;
    }

    &__new{
        border:none;
        background-color: white;
        border-radius: .5rem;
        padding : .5rem 1rem;
        font-family: Helvetica, sans-serif;
        font-size: 2rem;
        cursor: pointer;
        transition: all .5s ease-in-out;

        &:hover{
            filter: brightness(80%);
        }
    }
}