@import '../../sass/variable';

.flip__card{

    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;

    & .card__side{
        border-radius: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;
        backface-visibility: hidden;
        perspective: 50rem;
        background-color: $color__hidden__side;

        &__icon{
            width: 15rem;
        }
    }

    & .hidden__rotate{
        transform: rotateY(180deg);
    }
    & .hidden__side.perma__rotate{
        transform: rotateY(180deg);
    }

    & .symbol__side.symbol__rotate{
        transform: rotateY(0deg);
    }
    & .symbol__side.perma__rotate{
        transform: rotateY(0deg);
    }

    & .symbol__side{
        transform: rotateY(180deg);
    }
}