@import './sass/responsive';

*,
*::before,
*::after{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

html{

  @include media(">phone"){
    font-size: calc((100vw / 1524)*10);
  }

  @include media(">=tablet"){
    font-size: calc((100vw / 2380)*10);
  }

  
  @include media("<=phone"){
    font-size: calc((100vw / 1080)*10);
  }
}